{% extends 'default.html' %}

{% block content %}
{% if categories %}
{% for category in categories %}
<div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="/static/img/{{ category.id }}.jpg" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ category.name }}</h5>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ category.id }}">Смотреть объявления</a></div>
                            </div>
                        </div>
                    </div>
{% endfor %}
{% endif %}
{% endblock %}